<div class="container">
  <div class= "dashboard-title">
    <div class= "dashboard-title-element">
      <h2>Mes bookings</h2>
    </div>
    <div class= "dashboard-title-element email">
      <%= link_to "Book une planque", hideouts_path, type: "button", class: "btn btn-default" %>
    </div>
  </div>
<div>

<hr>

<!-- Header for my booking -->
  <div class="message">
    <div class="message-name header">
      <h3>Nom</h3>
    </div>
    <div class="message-date header">
      <h3>Checkin</h3>
    </div>
    <div class="message-body header">
      <h3>Description</h3>
    </div>
    <div class="message-price header">
      <h3>Prix</h3>
    </div>
    <div class="message-status header">
      <h3>Propriétaire</h3>
    </div>
  </div>


<!-- My booking -->

  <% @bookings.each do |booking| %>
    <% hideout = Hideout.find(booking.hideout_id) %>
    <% owner = User.find(hideout.user_id) %>
    <div class="message">
      <div class="message-name">
        <h3>
          <%= hideout.name %>
        </h3>
      </div>
      <div class="message-date">
        <%= booking.checkin %>
        <%= booking.checkout %>
      </div>
      <div class="message-body">
        <%= hideout.description %>
      </div>
      <div class="message-price">
        <%= hideout.price %>
      </div>
      <div class="message-status">
        <%= owner.email %>
      </div>
    </div>
  <% end %>

  <br>
  <br>

  <div class= "dashboard-title">
    <div class= "dashboard-title-element">
      <h2>Mes planques</h2>
    </div>
    <div class= "dashboard-title-element email">
      <%= link_to "Ajoute une planque", new_hideout_path, type: "button", class: "btn btn-default" %>
    </div>
  </div>

<hr>

<!-- Header for my hideouts -->
  <div class="message">
    <div class="message-name header">
      <h3>
        Nom
      </h3>
    </div>
    <div class="message-body header">
      Description
    </div>
    <div class="message-price header">
      Prix
    </div>
    <div class="message-status header">
      Safety
    </div>
  </div>


<!-- My hideouts -->

  <% @bookings.each do |booking| %>
    <% hideout = Hideout.find(booking.hideout_id) %>
    <% owner = User.find(hideout.user_id) %>
    <div class="message">
      <div class="message-name">
        <h3>
          <%= hideout.name %>
        </h3>
      </div>
      <div class="message-body">
        <%= hideout.description %>
      </div>
      <div class="message-price">
        <%= hideout.price %>
      </div>
      <div class="message-price">
        <%= hideout.safety %>
      </div>
    </div>
  <% end %>
</div>
