<div class="container">
  <div class= "dashboard-title">
    <div class= "dashboard-title-element">
      <h2>Demandes de réservations</h2>
    </div>
  </div>
<div>

<hr>

<!-- Header for my futur booking -->
  <div class="message">
    <div class="message-name header">
      <h3>Nom</h3>
    </div>
    <div class="message-date header">
      <h3>Checkin</h3>
    </div>
    <div class="message-price header">
      <h3>Prix</h3>
    </div>
    <div class="message-status header">
      <h3>Locataire</h3>
    </div>
    <div class="message-status header">
      <h3>Status</h3>
    </div>
  </div>


<!-- My futur booking -->

   <% current_user.hideouts.each do |hideout| %>
    <%# renter = User.find(booking.user_id) %>
    <%# status = booking.status %>
    <% hideout.bookings.each do |booking| %>
      <div class="message">
        <div class="message-name">
          <h3>
            <%= booking.hideout.name %>
          </h3>
        </div>
        <div class="message-date">
          <%= booking.checkin %>
          <%= booking.checkout %>
        </div>
        <div class="message-price">
          <%= booking.hideout.price %>
        </div>
        <div class="message-status">
          <%= booking.user.email %>
        </div>
        <div class="message-status">
          <%= booking.status %>
        </div>
      </div>
    <% end %>
  <% end %>

  <br>
  <br>

  <div class= "dashboard-title">
    <div class= "dashboard-title-element">
      <h2>Mes Réservations</h2>
    </div>
    <div class= "dashboard-title-element email">
      <%= link_to "Book une planque", hideouts_path, type: "button", class: "btn btn-primary" %>
    </div>
  </div>

<hr>

<!-- Header for my booking -->
  <div class="message">
    <div class="message-name header">
      <h3>Nom</h3>
    </div>
    <div class="message-date header">
      <h3>Checkin</h3>
    </div>
    <div class="message-body header">
      <h3>Description</h3>
    </div>
    <div class="message-price header">
      <h3>Prix</h3>
    </div>
    <div class="message-status header">
      <h3>Propriétaire</h3>
    </div>
    <div class="message-status header">
      <h3>Status</h3>
    </div>
  </div>


<!-- My booking -->

  <% current_user.bookings.each do |booking| %>
    <%# hideout = Hideout.find(booking.hideout_id) %>
    <%# owner = User.find(hideout.user_id) %>
    <div class="message">
      <div class="message-name">
        <h3>
          <%= booking.hideout.name %>
        </h3>
      </div>
      <div class="message-date">
        <%= booking.checkin %>
        <%= booking.checkout %>
      </div>
      <div class="message-body">
        <%= booking.hideout.description %>
      </div>
      <div class="message-price">
        <%= booking.hideout.price %>
      </div>
      <div class="message-status">
        <%= booking.hideout.user.email %>
      </div>
      <div class="message-status">
        <%= booking.status %>
      </div>
    </div>
  <% end %>

  <br>
  <br>

  <div class= "dashboard-title">
    <div class= "dashboard-title-element">
      <h2>Mes planques</h2>
    </div>
    <div class= "dashboard-title-element email">
      <%= link_to "Ajoute une planque", new_hideout_path, type: "button", class: "btn btn-primary" %>
    </div>
  </div>

<hr>

<!-- Header for my hideouts -->
  <div class="message">
    <div class="message-name header">
      <h3>
        Nom
      </h3>
    </div>
    <div class="message-body header">
      Description
    </div>
    <div class="message-price header">
      Prix
    </div>
    <div class="message-status header">
      Safety
    </div>
  </div>


<!-- My hideouts -->

  <%# @bookings.each do |booking| %>
    <%# hideout = Hideout.find(booking.hideout_id) %>
    <%# owner = User.find(hideout.user_id) %>
  <% current_user.hideouts.each do |hideout| %>
    <div class="message">
      <div class="message-name">
        <h3>
          <%= hideout.name %>
        </h3>
      </div>
      <div class="message-body">
        <%= hideout.description %>
      </div>
      <div class="message-price">
        <%= hideout.price %>
      </div>
      <div class="message-price">
        <%= hideout.safety %>
      </div>
    </div>
  <% end %>
</div>
