<%= form_for(@hideout) do |f| %>
  <!-- form name by LDE-->
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

<!-- form description by LDE-->
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
<!-- form address by LDE-->
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
<!-- form price by LDE-->
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control' %>
  </div>
<!-- form capacity by LDE-->
  <div class="form-group">
    <%= f.label :capacity %>
    <%= f.text_field :capacity, class: 'form-control' %>
  </div>
<!-- form safety by LDE-->
  <div class="form-group">
    <%= f.label :safety %>
    <%= f.text_field :safety, class: 'form-control' %>
  </div>

  <div>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
