<div>
  <%= simple_form_for(@hideout) do |f| %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :price %>
  <%= f.input :capacity %>
  <%= f.input :safety %>

  <div>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>
</div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

