<!-- Filters for search start -->
<hr>
<form class="form-inline filters">
  <%= form_tag hideouts_path, method: :get do %>
    <div class="form-group">
      <%= text_field_tag :min_safety,
        params[:min_safety],
        class: "form-control",
        placeholder: "Sécurité minimum"
      %>
    </div>
    <div class="form-group">
      <%= text_field_tag :max_price,
        params[:max_price],
        class: "form-control",
        placeholder: "Prix maximum"
      %>
    </div>
    <%= submit_tag 'Search', class: "btn btn-default"%>
  <% end %>
</form>
<hr>

<!-- Filters for search end -->

<div class="main-container">

    <section class="cards-container">
      <div class="row">
        <% @hideouts.each do |hideout| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <% if hideout.blank? %>

              <div class="hidden"><%= hideout.name %></div>

            <% elsif hideout.photo.blank? %>

              <div class="card">
                <%= link_to image_tag('banner.jpg', height: 190, width: 290, crop: :fill, class: 'card-image'), hideout_path(hideout) %>
                <%= link_to hideout_path(hideout) do %>
                  <div class="card-description">
                    <div class="card-name">
                      <h2><%= hideout.name %>
                    </div>
                    <div class="card-price">
                      <p><%= hideout.price %> <%= " €" %> </p>
                    </div>
                    <div class="card-safety">
                      <p><%= hideout.safety %> <%= " safety" %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

          <% else %>

              <div class="card">
                <%= link_to cl_image_tag(hideout.photo, height: 190, width: 290, crop: :fill, class: 'card-image'), hideout_path(hideout) %>
                <%= link_to hideout_path(hideout) do %>
                  <div class="card-description">
                    <div class="card-name">
                      <h2><%= hideout.name %></h2>
                    </div>
                    <div class="card-price">
                      <p><%= hideout.price %> <%= " €" %></p>
                    </div>
                    <div class="card-safety">
                      <p><%= hideout.safety %> <%= " safety" %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

          <% end %>

        </div>
      <% end %>

    </div>
  </section>

    <aside id="map" data-markers="<%= @markers.to_json %>"></aside>

</div>
