<article class = "container">

    <h1><%= @hideout.name %></h1>
    <p><%= @hideout.description %></p>
    <div class="hideout-info">
      <div class="hideout-photo">
      <%= cl_image_tag @hideout.photo, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="hideout-description">
        <ul class="list-unstyled">
          <li>hidden Address: <%= @hideout.address %></li>
          <li>price in US dollars: <%= @hideout.price %></li>
          <li>capacity of gangters: <%= @hideout.capacity %></li>
          <li>level of security: <%= @hideout.safety %></li>
        </ul>
      </div>
    </div>

</article>


<div class = container>
  <%= link_to "Home", hideouts_path, class: "btn btn-default text-uppercase" %>

  <!-- Edit if owner -->
  <% if policy(@hideout).update? %>
    <%= link_to "Edit", edit_hideout_path, class: "btn btn-default text-uppercase" %>
  <% end %>
  <hr>

  <!-- Addind a review and display them if any-->
  <%= link_to "Add a review", new_hideout_review_path(@hideout), class: "btn btn-default text-uppercase" %>
  <% reviews = Review.where(hideout: @hideout.id) %>

  <ul class="list-unstyled">
  <% if reviews.present? %>
    <% reviews.each do |review| %>
      <li>
        <%= review.content %>
      </li>
    <% end %>
  <% else %>
    <p> Add the first review </p>
  <% end %>
  </ul>
  <hr>

  <!-- Booking and date picker -->
  <h2> Book it now </h2>
  <%= render 'form_booking', hideout: @hideout, booking: @booking %>
</div>


