<div class = "container">
  <div>
    <%= @hideout.name %>
  </div>
  <div>
    <%= @hideout.description %>
  </div>
  <div>
    <%= @hideout.address %>
    <%= @hideout.price %>
    <%= @hideout.capacity %>
    <%= @hideout.safety %>
  </div>
  
  <div>
  <%= cl_image_tag @hideout.photo, height: 300, width: 400, crop: :fill %>
  </div>

  <%= link_to "Home", hideouts_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_hideout_path, class: "btn btn-primary" %>
  
</div>

<!-- ___________________________________user-can-book-a-flat START -->
<%= simple_form_for [@hideout, @booking] do |f| %>
  <%= f.input :checkin %>
  <%= f.input :checkout %>
  <%= f.button :submit %>
<% end %>
<!-- ___________________________________user-can-book-a-flat END -->

<%= link_to "Home", hideouts_path %>
