<!-- Photo full screen -->
<div class="image-container">
  <%= cl_image_tag(@hideout.photo, crop: :fill, gravity: :south) %>
</div>

<div class="container">
  <!-- <div class="big-container">
    <div class="big-container-element"> -->
      <div class="row">
        <div class="col-md-6">
          <!-- Description -->
          <ul class="list-unstyled list-inline">
            <li>
              <div id="hideout-name">
                <%= @hideout.name %>
              </div>
            </li>
            <li>
              <div>
                <% if policy(@hideout).update? %>
                  <%= link_to "Edit", edit_hideout_path, class: "btn btn-info text-uppercase" %>
                <% end %>
             </div>
            </li>
          </ul>

          <!-- Info icons -->
          <ul class="list-unstyled list-inline">
            <li>
              <div info-icon>
                <i class="fa fas fa-dollar-sign"></i>
                <span><%= @hideout.price %> $ per night</span>
              </div>
            </li>
            <li>
              <div info-icon>
                  <i class="fa fas fa-users"></i>
                  <span><%= @hideout.capacity %> guests</span>
              </div>
            </li>
            <li>
              <div info-icon>
                <i class="fa fas fa-eye-slash"></i>
                <span><%= @hideout.safety %> level of safety</span>
              </div>
            </li>
          </ul>

          <!-- Addind a review -->
          <div>
            <% reviews = Review.where(hideout: @hideout.id) %>
            <% average_rating = compute_average(reviews) %>

            <!-- Displaying average rating -->
            <% if average_rating >= 4 %>
              <span><%= average_rating %>/5 - Planque exceptionnelle</span>
            <% elsif average_rating > 2.5 %>
              <span><%= average_rating %>/5 - Planque moyenne</span>
            <% elsif average_rating == 0 %>
            <% else %>
              <span><%= average_rating %>/5 - Très mauvaise planque</span>
            <% end %>
          </div>

          <hr>

          <!-- Description -->
          <div class="small-container">
            <p><%= @hideout.description %></p>
          </div>

          <hr>

          <!-- Display reviews them if any -->
          <h3> Reviews </h3>
          <ul class="list-unstyled">
          <% if reviews.present? %>
            <% reviews.each do |review| %>
              <li>
                <%= review.content %> <%= review.rating %>
                <i class="fa fas fa-star"></i>
              </li>
            <% end %>
          <% else %>
            <p>Laisser un avis</p>
          <% end %>
          </ul>
          <%= link_to "Laisser un avis", new_hideout_review_path(@hideout), class: "btn btn-default text-uppercase" %>
        </div>
        <!-- End of left column -->

        <!-- Start of right column -->
        <div class="col-md-6">
          <!-- Booking and date picker -->
          <div class="right-side-form">
            <%= render 'form_booking', hideout: @hideout, booking: @booking %>
          </div>
        </div>
        <!-- End of left column -->

      </div>
    <!-- </div>
  </div> -->
</div>
