<article class = "container">
  <section>
    <h1><%= @hideout.name %></h1>
    <p><%= @hideout.description %></p>
  </section>
  <section>
    <ul>
      <li><%= @hideout.address %></li>
      <li><%= @hideout.price %></li>
      <li><%= @hideout.capacity %></li>
      <li><%= @hideout.safety %></li>
    </ul>
  </section>
  <%= link_to "Home", hideouts_path %>
</article>
