<div class = "container">
  <div>
    <%= @hideout.name %>
  </div>
  <div>
    <%= @hideout.description %>
  </div>
  <div>
    <%= @hideout.address %>
    <%= @hideout.price %>
    <%= @hideout.capacity %>
    <%= @hideout.safety %>
  </div>
</div>
