<article class = "container">
  <section>
    <h1><%= @hideout.name %></h1>
    <p><%= @hideout.description %></p>
    <div class= hideout-photo>
    <%= cl_image_tag @hideout.photo, height: 300, width: 400, crop: :fill %>
    </div>
  </section>
  <section>
    <ul class="list-unstyled">
      <li><%= @hideout.address %></li>
      <li><%= @hideout.price %></li>
      <li><%= @hideout.capacity %></li>
      <li><%= @hideout.safety %></li>
    </ul>
  </section>
</article>

<div class = container>
  <%= link_to "Home", hideouts_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_hideout_path, class: "btn btn-primary" %>
  <hr>
  <h2> Book it now </h2>
  <%= render 'form_booking', hideout: @hideout, booking: @booking %>
<div class = container>
